<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>src.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Add Servlet and Mapping for update-salle -->
    <servlet>
        <servlet-name>UpdateSalleServlet</servlet-name>
        <servlet-class>src.servlets.salle.UpdateSalleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSalleServlet</servlet-name>
        <url-pattern>/update-salle</url-pattern>
    </servlet-mapping>
</web-app>
